@import "tailwindcss";

:root,
:host {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #07b53b;
  --title: #1e1e1e;
  --content: #616161;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-title: var(--title);
  --color-content: var(--content);

  --animate-moveme: moveme 1s ease-in-out infinite;

  @keyframes moveme {
    0% {
      top: 0;
      height: 0%;
    }
    50% {
      top: 50%;
      height: 150%;
    }
    75% {
      top: 100%;
      height: 100%;
    }
    100% {
      top: 160%;
      height: 50%;
    }
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}
