@import "tailwindcss";

:root,
:host {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #07b53b;
  --title: #1e1e1e;
  --content: #616161;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-title: var(--title);
  --color-content: var(--content);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}
